/*You can alphabetize or organise by when they show up on a page*/
body {
    background-color: rgb(6, 49, 62);
    color: white;
}
a {
    color: #fff;
    padding: 25px;
    font-size: 24px;
}
h1 {
    text-align: center;
}
img {
    width: 300px; 
}
