/*You can alphabetize or organise by when they show up on a page*/
/* * {
    border: 2px solid red;
} */
body {
    background-color: rgb(255, 250, 242);
    color: rgb(0, 0, 0);
    line-height: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
}
#content {
    background-color: rgba(6, 74, 95, 0.5);
    max-width: 1600px;
    margin: 0 auto;

}
nav, nav a, footer{
    color:rgb(255, 255, 255);
    background-color:rgb(6, 49, 62);
    display: flex;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    padding: 25px;
    font-size: 24px;
    text-align: center;
}
nav a:hover{
    background-color: rgb(6, 74, 95);
}
a {
   color:inherit;
}
h1 {
    text-align: center;
}
img {
    width: 30%; 
    min-width: 300px;
    display: block;
    margin: 0 auto;
}
p{
    width: 70%;
    margin:15px auto;
    text-align: center;
    line-height: 1.5em;
}
