@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Kurale&display=swap');
body{
  font-family: "EB Garamond", garamond, serif;
  color: #2d5f30;
  margin: 0 auto;
  max-width: 2000px;
}

h1, h2{
  font-family: Kurale, "EB Garamond", garamond, serif;
  color: #650608;
  text-align: center;
}
img{
  object-fit: cover;
  max-width: 100%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #980d10;
   
}
nav a img{
  width: 100px;
  margin:0;
}
nav a{
  color: white;
  text-decoration: none;
  font-family: kurale, "EB Garamond", garamond, serif;
  font-size: 1.3em;
  margin:0;
}
main{
  width: 80%;
  margin-inline: auto;
}
p{
  text-align: center;
  font-size: 1.2em;
}
/* Slideshow container */
/* Much of the styles, includeing the slideshow and accordion styles came from W3 Schools */
#hero {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 30%;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  }
  
.slideshow-container{
    grid-column: 1/4;
    grid-row: 1/4;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }
.mySlides img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  padding: 0;
  margin: 0;
}
  #hero-msg{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    z-index: 5;
    width:fit-content;
    margin:auto;
  }
  #hero-msg h1{
    color: white;
    font-size: 55px;
    padding: 15px;
    margin: 0;

  }
  
  .img-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 100%;
    margin-inline: auto;
  }
  .img-gallery img{
    width: 90%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .blog-posts article{
    display: grid;
    grid-template-columns: 30% 1fr;
    margin: 20px auto;
    width: 80%
  }
  .blog-posts article img{
    grid-column: 1/2;
    aspect-ratio: 1;
    object-fit: cover;
  }
  .blog-description{
    margin-left: 20px;
  }
  .blog-description p{
    text-align: left;
    margin-top: 0;
  }
  .blog-description h3{
    font-family: Kurale, "EB Garamond", garamond, serif;
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  button{
    /* background-color: #c98301; */
    background-color: #a56b20;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    font-family: "EB Garamond", garamond, serif;

  }
  button a{
    text-decoration: none;
    color: white;
    font-family: "EB Garamond", garamond, serif;

  }
  .card{
    text-align: center;
  }
  footer{
    background-color: #2d5f30;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    padding: 30px;
  }
  footer a{
    color: white;
    text-decoration: none;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  
  /* Next & previous buttons */
  /* .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  } */
  
  /* Position the "next button" to the right */
  /* .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
   */
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;

    
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    grid-row:2/3;
    grid-column: 3/4;
    display: none;
    height: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    /* display: inline-block; */
    transition: background-color 0.6s ease;
  }
  
 .dot .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @keyframes fade {
    from {opacity: .7}
    to {opacity: 1}
  }


  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
    cursor: pointer;
    transition: 0.4s;
  }
  .accordion::after{
    content:" +";
    rotate: 180deg;
  }

.active::after{
    content:" -";
  }
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }



@media screen and (max-width: 900px) {
  .blog-posts article{
    display: block;
  }
  nav, footer{
    flex-direction: column;
  }
}