@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Kurale&display=swap');
body{
  font-family: "EB Garamond", garamond, serif;
  color: #2d5f30;
  margin: 0 auto;
  /* max-width: 2000px; */
}

h1, h2{
  font-family: Kurale, "EB Garamond", garamond, serif;
  color: rgb(101, 6, 8);
  text-align: center;
}
img{
  object-fit: cover;
  max-width: 100%;
}
header{
  display: grid;
  grid-template-columns: 200px auto;
  background-color: #980d10;
  justify-items: center;
  align-items: center;

}
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
header a img{
  width: 100px;
  height: 100px;
  margin:0;
  padding: 0;
  align-self: center;
  justify-self: center;
}
.logo-link{
  image-rendering: pixelated;

}
nav a{
  color: white;
  text-decoration: none;
  font-family: kurale, "EB Garamond", garamond, serif;
  font-size: 1.35em;
  width: 100%;
  padding: 45px 0;
  transition: background-color .3s;
  text-align: center;
  display: block;

}
nav a:hover{
  background-color: #650608;
}
main{
  width: 80%;
  margin-inline: auto;
}
p{
  text-align: center;
  font-size: 1.3em;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* Slideshow container */
/* Much of the styles, including the slideshow and accordion styles came from W3 Schools */
#hero {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* height: 300%; */
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  }
  
.slideshow-container{
    grid-column: 1/4;
    grid-row: 1/4;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .mySlides {
    display: none;
  }

.mySlides img{
  width: 100%;
  height: 500px;
  max-height: 70%;
  /* height: 500px; */
  object-fit: cover;
  padding: 0;
  margin: 0;
}



/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}
.upper-spacer{
  height: 100px;
  margin-bottom: 10px; 
  grid-column: 2/3;
  grid-row: 1/2;
}
  #hero-msg{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgba(0, 0, 0, 0.4);
    background-color: rgba(50, 26, 26, 0.4);
    /* background-color: rgba(65, 7, 4, 0.51); */
    display: block;
    z-index: 5;
    width:fit-content;
    margin:auto;
  }
  #hero-msg h1{
    color: white;
    font-size: 55px;
    padding: 35px;
    margin: 35px;
    margin: 0;

  }
  .dots{
    grid-column: 2/3;
    grid-row: 3/4;
    z-index: 2;
    height: 100px;
    margin-bottom: 10px; 
    justify-self: center;
    align-content: end;
    cursor: default;

    

  }
  /* The dots/bullets/indicators */
.dot {
  cursor: default;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  /* background-color: rgba(133, 133, 133, 0.4); */
  background-color: #bbb;
  /* background-color: rgb(165, 107, 32); */
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
  z-index: 9;
  /* border: 3px solid rgb(140, 138, 138); */
}

.dots .active, .dot:hover {
/* background-color: rgb(124, 81, 24); */
background-color: #777;
  /* background-color: rgba(105, 105, 105, 0.8); */
}

  .img-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 100%;
    margin: 70px auto;
  }
  .img-gallery img{
    width: 80%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  section{
    margin-top: 70px;
  }
  .blog-posts article{
    display: grid;
    grid-template-columns: 30% 1fr;
    margin: 50px auto;
    width: 80%
  }
  .blog-posts article img{
    grid-column: 1/2;
    aspect-ratio: 1;
    object-fit: cover;
  }
  .blog-description{
    margin-left: 40px;
  }
  .blog-description p{
    text-align: left;
    margin-top: 0;
  }
  .blog-description h3{
    font-family: Kurale, "EB Garamond", garamond, serif;
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  button, .button-link{
    /* background-color: #c98301; */
    background-color: rgb(165, 107, 32);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    font-family: "EB Garamond", garamond, serif;
    display: inline;
    transition: background-color 0.2s;


  }
  button:hover, .button-link:hover{
    background-color: rgb(124, 81, 24);

  }
  .button-link a{
    text-decoration: none;
    color: white;
    font-family: "EB Garamond", garamond, serif;

  }
  .card{
    text-align: center;
  }
  footer{
    background-color: #2d5f30;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    padding: 30px;
  }
  footer a{
    color: white;
    font-size: 1.2em;

  }
  footer a:hover{
    color: rgb(255, 231, 201)
  }
  .social a{
    text-decoration: none;
  }

  /* Hide the images by default */


  
  /* Next & previous buttons */
  /* .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  } */
   /* Number text (1/3 etc) */
/*  */
  /* .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    grid-row:2/3;
    grid-column: 3/4;
    display: none;
    height: 0;
  } */
   /* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  width: 100%;
  text-align: center;

  
}
   */
  /* Position the "next button" to the right */
  /* .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
   */
  /* On hover, add a black background color with a little bit see-through */
  /* .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  } */


/* CSS for College Meals */
a{
  color:#650608;
}

.blog-title{
  margin-top: 100px;
  margin-bottom: 70px;
}
.blog-title h1{
  font-size: 2em;
  margin-bottom: 0;
}

.blog-title h4{
  text-align: center;
  font-family: Kurale, "EB Garamond", garamond, serif;
  margin-top: 0;

}
section.left-align p{
  text-align: left;
}
.blog-section-title{
  display: grid;
  grid-template: repeat(3, 1fr), repeat(3,1fr);
  width: 100%;

  justify-items: center;
}
.blog-section-title img{
  grid-area: 1/1/4/4;
  width: 100%;
  height: 500px;

}
.blog-section-title h2{
  grid-column: 1/4;
  grid-row: 2/3;
  width: fit-content;
  max-width: 80%;
  padding: 15px;
  background-color: rgba(56, 16, 16, 0.4);
  color: white;
  font-size: 2.5em;
}
  /* Style the buttons that are used to open and close the accordion panel */
summary{
    background-color: rgb(165, 107, 32);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    font-family: "EB Garamond", garamond, serif;
    /* display: inline; */
    /* margin: 20px auto; */
    margin-top: 20px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s;
    width: 100px;
    font-family: Kurale, "EB Garamond", garamond, serif;
    margin-inline: auto;
}
summary::after{
  content: ""; 
  position: absolute;
  margin-left: 10px;
  margin-top: 4px;
  width: .9rem;
  height: .9rem;
  background-image: url("../images/arrow.svg"); 
  background-size: .9rem .9rem;
  background-position: 0 0;
  background-repeat: no-repeat;
  align-self: center;
  filter: invert(1);
  /* transition: transform .6s ease; */
  transition: transform .3s;
}
summary.active::after{
  /* transform: rotate(-540deg); */
  transform: rotate(-180deg);
  transition: transform .6s ease;

}
summary::marker, summary::-webkit-details-marker{
  content:"";
  display: none;
}
summary:hover{
  background-color: rgb(124, 81, 24);

}
details{
  margin: 40px auto;

}
details div {
    max-height: 0;
    overflow: hidden;
    transition:.25s;
    width: 50%;
    max-width: 100%;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.1em;
  }

details div li{
  margin-top: 7px;
}





@media screen and (max-width: 900px) {
  .blog-posts article{
    display: block;
  }
  nav, footer{
    flex-direction: column;
  }
  header{
    grid-template-columns: 1fr 1fr;
  }
  nav a{
    width: 100%;
    height: 100%;
    padding: 25px 0;
  }
  .logo-link{
    width: auto;
    height: 100%;
  }
  header a img{
    height: 100%;
    width: auto;
  }
  .mySlides img{
    height: 60vw;
    max-height: 100vh;
  }
  .upper-spacer, .dots{
    height: 15vw;
  }
  #hero-msg{
    grid-column: 1/4;
    max-width:80%;
  }
  #hero-msg h1{
    font-size: 7vw;
    padding: 4.3vw;
  }


  .img-gallery{
    grid-template-columns: 1fr 1fr;
  }
  .img-gallery img{
    margin-top: 10%;
  }
  
  #img-3{
    grid-column: 1/3;
    aspect-ratio: 2;
    width: 90%
  }
  .blog-posts article{
    /* margin:0; */
    width: 100%;
  }
  .blog-description, .blog-description p, p{
    text-align:center;
    margin-left: 0;
  }
  footer{
    gap: 15px;
  }
  footer .logo-link{
    width: 100px;
  }
  /* For College Meals */
  details div{
    width: 80%;
    text-align: left;
  }

}